@import "../node_modules/leaflet/dist/leaflet.css";
@import "../node_modules/nprogress/nprogress.css";
@import "../node_modules/uikit/dist/css/uikit.min.css";
@import "../node_modules/css.gg/icons/all.css";

$success: #4aac63;
$warning: #ffee00;
$danger: #af1038;
$disabled: #777;

.hb-border {
  border-style: solid;
  border-width: 3px;

  &.hb-border-bottom {
    border-width: 0;
    border-bottom-width: 3px;
  }

  &.hb-border-success {
    border-color: $success;
  }
  &.hb-border-warning {
    border-color: $warning;
  }
  &.hb-border-danger {
    border-color: $danger;
  }
  &.hb-border-disabled {
    border-color: $disabled;
  }
}

.hb-title-link,
.hb-title-link:link,
.hb-title-link:hover {
  color: inherit;
}

.hb-map {
  min-height: 500px;
}

.hb-no-padding {
  padding: 0 0;
}

i.hb-right {
  margin-left: auto;
}

.hb-clickable {
  cursor: pointer;
}

.hb-hide {
  visibility: hidden;
}

.hb-root-navbar {
  background-color: #1d3a87;
}

.hb-page-navbar {
  background-color: #3653a1;
}

.hb-section-navbar {
  background-color: #546cac;
}

.hb-sub-section-navbar {
  background-color: #5675ca;
}

.hb-va-center {
  display: flex;
  align-items: center;
}

.hb-map {
  min-height: 400px;
}

.hb-map-info {
  padding: 6px 8px;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;

  &.h5 {
    color: #777;
  }
}

.hb-map-legend {
  text-align: start;
  color: #555;

  i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
  }
}

.hb-offcanvas {
  background-color: #3b56a3;
}

.hb-empty {
  padding: 0 0 !important;
  width: 10px !important;
}

.hb-table {
  width: auto;
  margin: auto;
  font-size: 11px;
}

.hb-table-row:hover {
  border: 2px solid #1d3a87;
}

.hb-table-header > div {
  width: 30px;
  white-space: nowrap;
  transform-origin: top left;
  transform: rotate(-45deg) translate(-13px, 13px);
}

.hb-table-header > div > span {
  font-size: 11px !important;
  border-bottom: 1px solid #222;
}

.hb-table-item {
  border: 1px solid #222;
  font-size: 10px;
  width: 25px;
  height: 25px;
}

.hb-table-label {
  border-radius: 25px;
}

.hb-table-choropleth-0 {
  background-color: #cccccc;
}

.hb-table-choropleth-1 {
  background-color: #6dac6d;
}

.hb-table-choropleth-2 {
  background-color: #c5cc69;
}

.hb-table-choropleth-3 {
  background-color: #dbcb37;
}

.hb-table-choropleth-4 {
  background-color: #e47f7f;
}

.show-when-not-hover {
  display: block;
}

.show-when-not-hover-container:hover .show-when-not-hover {
  display: none;
}

.hb-card-menu {
  height: 50px;
}

.hb-description-list > dt {
  color: white;
}

.hb-none {
  display: none;
  visibility: hidden;
}
